/* Custom styles for VitePress theme */

:root {
  --vp-c-brand: #42b883;
  --vp-c-brand-light: #66d9ef;
  --vp-c-brand-lighter: #a6e22e;
  --vp-c-brand-dark: #33a06f;
  --vp-c-brand-darker: #2d8659;
}
